# LANCA ERGO Reconciliation Engine - Environment Variables
FLASK_SECRET_KEY=lanca-ergo-gdpr-secret-key-2026-prod
POSTGRES_DB=ergo_zwhs_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=LancaPostgresPass2026!
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
KEYCLOAK_URL=http://keycloak:8080
APP_BASE_URL=https://lanca.stavrostsamadias.gr
